
    .logoPart1{
        font-family: 'Archivo Black', sans-serif;
    
        color: black;
    }
    .logoPart2{
        font-family: 'Archivo Black', sans-serif;
    
        color: green;
    }

    .navbarFont{
        font-family: 'Archivo Black', sans-serif;
    }

  

    .center-right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: auto; /* Adjust the height as needed */
    }
    .carousel {
        width: 100%;
    }

    .carousel-inner img {
        max-height: 70vh;
        width: 100%; /* Make sure the image fills the carousel's width */
        object-fit:scale-down; /* Maintain aspect ratio and cover the entire container */
        
      }